.lv{
    background-color: #061e5c; 
    padding: 150px;
}
.ya img{
  margin-left: 800px;
}
.ya h2{
    margin-left: 800px;
    color: white;
}
.yam{
    color: white;
    margin-left: 800px;
    margin-top: -13px;
}
.yamen{
    margin-left: 600px;
    margin-top: -140px;
}
.yamen h2{
    color: white;
}
.yams{
    color: white;
    margin-top: -13px;
}
.yes{
    margin-left: 400px;
    margin-top: -140px;
}
.yes{
    color: white;
}
.yamses{
    color: white;
    margin-top: -13px;
}
.nk{
    margin-top: -108px;
    margin-left: 30px;
}
.nk img{
    margin-top: -140px;
    margin-left: 150px;
}
.nk h2{
    color: white;
    margin-left: 150px;
}
.la{
    color: white;
    margin-left: 150px;
    margin-top: -13px;
}