<section class="lv">
    <div class="ya">
        <img src="image/trophe.PNG" alt="#" width="50px">
        <h2>50+</h2>
        <p class="yam">Winning Award</p>
    </div>
    <div class="yamen">
        <img src="image/techarge.PNG" alt="#" width="50px">
        <h2>125K+</h2>
        <p class="yams">Downloads</p>
    </div>
    <div class="yes">
        <img src="image/ami.PNG" alt="#" width="50px">
        <h2>120K</h2>
        <p class="yamses">Happy Users</p>
    </div>
    <div class="nk">
        <img src="image/bien.PNG" alt="#" width="50px">
        <h2>100%</h2>
        <p class="la">Satisfaction</p>
    </div>
</section>
