<section class="Potenti">
    <div class="but">
        <button class="button">Team</button>
        <h2>Meat Our Team</h2>
        <p>There are many variations of passages of Lorem Ispum available,but the <br>majority have suffered alteration in some form.</p>
    </div>
    <div class="ka">
        <img src="image/team1.jpg" alt="#" width="150px">
        <p>Dahlia Moore</p>
        <p>Senior Manager</p>
    </div>
    <div class="kala">
        <img src="image/team2.jpg" alt="#" width="150px">
        <p>Jhone Digo</p>
        <p>Marketing</p>
    </div>
    <div class="chill">
        <img src="image/team3.jpg" alt="#" width="150px">
        <p>Zara Tingo</p>
        <p>Web developer</p>
    </div>
    <div class="class">
        <img src="image/team4.jpg" alt="#" width="150px">
        <p>David Zone</p>
        <p>SEO Expert</p>
    </div>
</section>
