<section class="testimonials-section">
    <div class="testimonials-container">
        <div class="testimonials-title">TESTIMONIALS</div>
        <div class="testimonials-subtitle">10,000+ People Love Us</div>
        <div class="testimonials-description">
            There are many variations of passages of Lorem Ipsum available,but the <br>majority have suffered alteration
            in some form.
        </div>
        <div class="testimonials-cards">
            <div class="testimonial-card">
                <div class="testimonial-header">
                    <div class="testimonial-photo">
                        <img src="assets/images/testi2.jpg" alt="Aaron Almaraz" />
                    </div>
                    <div class="testimonial-info">
                        <div class="testimonial-name">Aaron Almaraz</div>
                        <div class="testimonial-position">CEO & Founder at Gearat</div>
                        <div class="testimonial-rating">
                            <span class="star">&#9733;</span><span class="star">&#9733;</span><span
                                class="star">&#9733;</span><span class="star">&#9733;</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-footer">
                    <div class="testimonial-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam ipsum doloribus tenetur non sint
                        earum.
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="testimonial-header">
                    <div class="testimonial-photo">
                        <img src="image/testi5.jpg" alt="Aaron Almaraz" />
                    </div>
                    <div class="testimonial-info">
                        <div class="testimonial-name">Marleah Eagleston</div>
                        <div class="testimonial-position">Founder at Spicenet</div>
                        <div class="testimonial-rating">
                            <span class="star">&#9733;</span><span class="star">&#9733;</span><span
                                class="star">&#9733;</span><span class="star">&#9733;</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-footer">
                    <div class="testimonial-text">
                        Time is the most precious thing you <br> have when boostraping.You can't <br>take time to ponder
                        on design...
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="testimonial-header">
                    <div class="testimonial-photo">
                        <img src="image/testi3.jpg" alt="Aaron Almaraz" />
                    </div>
                    <div class="testimonial-info">
                        <div class="testimonial-name">Phet Putrie</div>
                        <div class="testimonial-position">Freelance</div>
                        <div class="testimonial-rating">
                            <span class="star">&#9733;</span><span class="star">&#9733;</span><span
                                class="star">&#9733;</span><span class="star">&#9733;</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-footer">
                    <div class="testimonial-text">
                        Time is the most precious thing you <br> have when boostraping.You can't <br>take time to ponder
                        on design...
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-navigation">
            <span></span><span></span>
        </div>
    </div>
</section>