<section class="color">
    <div class="schit">
        <img src="image/telecharge.PNG" alt="#" width="50px">
        <h2>1,25,000 Coustomers <br>Using The Application!</h2>
        <p class="nb">Big,smal,only,offine,local or other.Size doesn't matter.<br>We work on diverse projects for top
            brands as well as for cool <br> startups.Check out some of our favorites.</p>
        <button class="button">Download Now</button>
    </div>
    <div class="via">
        <img src="image/l2-hero-image.png" alt="#" width="350px">
    </div>
    <div class="ld">
        <img src="image/calco.PNG" alt="#" width="50px">
        <h2>Seamless Loyalty</h2>
        <p class="ng">Collaborate over projects with your team and clients <br>optimised for mobile and tablet don't let slow page
            speeds <br> drive our innovative platform empowers anyone to convert <br>clicks ou'il publish your first
            landing page in minutes.</p>
        <button class="button5">Get Started</button>
    </div>
    <div class="Amel">
        <img src="image/l2-content-img-1.png" alt="#" width="350px">
    </div>
</section>