<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.component.css">
    <title>Appmeet</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <span id="landry">
                <img src="image/white-logo.svg" alt="#" width="150px">
            </span>
            <button class="button1">Get it Now</button>
            <nav>
                <ul>
                    <li><a href="main-image"  >Home</a></li>
                    <li><a href="steps">Features</a></li>
                    <li><a href="possibilities">Overview</a></li>
                    <li><a href="Pricing-paln">pricing</a></li>
                    <li><a href="Meat-Team">Team</a></li>
                    <li><a href="contact">Reviews</a></li>
                </ul>
            </nav>
            <span class="img">
                <img src="image/woman-image.png" alt="#" width="350px" height="#">
            </span>
        </div>
        <div class="yog">
            <h2>Create Landing Page <br>Easy, Super Fast</h2>
            <p>From open source to pro service,piqes helps you to build <br>deploy,test, and monitor apps.</p>
        </div>
        <div class="ng">
            <input type="text" placeholder="Your email address">
            <button class="button2">Start Free Trial</button>
        </div>
    </header>
    <section id="main-image">
        <div class="wrapper"></div>
    </section>
</body>
</html>
