<section class="many">
    <div class="the">
        <button class="button6">PRICING</button>
        <h2>Pricing Plan</h2>
        <p class="jjk">There are many variations of passages of Lorem Ipsum available, but the <br> majority have suffered alteration in some form.</p>
    </div>
    <div class="pricing-cards">
        <div class="pricing-card">
            <p class="card-title">Freelancer</p>
            <p class="card-description">All the basics for starting a new <br> business</p>
            <p class="card-price">$24/mo</p>
            <ul class="card-features">
                <li> Cras justo odio.</li>
                <li> Dapibus ac facilisis in.</li>
                <li> Morbi leo risus.</li>
                <li> Potenti felis, in cras ligula.</li>
            </ul>
            
            <button class="buy-button">Buy Freelancer</button>
        </div>
        <div class="pricing-card">
            <p class="card-title">Startup</p>
            <p class="card-description">All the basics for starting a new <br> business</p>
            <p class="card-price">$32/mo</p>
            <ul class="card-features">
                <li>Cras justo odio.</li>
                <li>Dapibus ac facilisis in.</li>
                <li>Morbi leo risus.</li>
                <li>Potenti felis, in cras ligula.</li>
            </ul>
            <button class="buy-button">Buy Startup</button>
        </div>
        <div class="pricing-card">
            <p class="card-title">Enterprise</p>
            <p class="card-description">All the basics for starting a new <br> business</p>
            <p class="card-price">$48/mo</p>
            <ul class="card-features">
                <li>Cras justo odio.</li>
                <li>Dapibus ac facilisis in.</li>
                <li>Morbi leo risus.</li>
                <li>Potenti felis, in cras ligula.</li>
            </ul>
            <button class="buy-button">Buy Enterprise</button>
        </div>
    </div>
</section>
