<div class="main">
    <div class="Feature">
        <button class="button3">Features</button>
        <h2>Appmeet Has Awesome <br>Stunning Feature</h2>
        <p class="Feat">There are many variations of passages of Lorem Ispum available,but the <br> majority have
            suffered alteration in som from.</p>
    </div>
    <Section class="Simple">
        <img src="image/coeur.PNG" alt="#" width="50px">
        <h1>Simple & Light</h1>
        <p>Appmeet is a completely creative, <br>lightweight, clean & super responsive <br>app landing page</p>
    </Section>
    <section class="Super">
        <img src="image/carre.PNG" alt="#" width="50px">
        <h1>Super Responsive</h1>
        <p>Appmeet is a completely creative, <br>lightweight, clean & super responsive <br>app landing page</p>
    </section>
    <section class="Bug">
        <img src="image/insect.PNG" alt="" width="50px">
        <h1>Bug Free Code</h1>
        <p>Appmeet is a completely creative, <br>lightweight, clean & super responsive <br>app landing page</p>
    </section>
</div>