<section class="jk">
    <div class="nk">
        <img src="image/newsletter-img.png" alt="#" width="400px">
    </div>
    <section class="kie">
        <div class="ly">
            <p class="jiji">join our community</p>
            <p class="dada">Get latest app updates <br>Right at your inbox</p>
        </div>
        <div class="pouma">
            <input type="text" placeholder="your email address">
            <button class="button">Subscribe</button>
        </div>
    </section>
</section>
